@import "Variables.scss";

.container.request-history {
    .panel-heading {
        background-color: $primary-color !important;
    }

    .panel-body {
        .table-container {
            .table {
                .thread-dark {
                    background-color: $secondary-color;
                    color: $forth-color;
                }
            }
        }
    }
}